.SignUpForm {
    margin: auto;
    width: 37.43%;
    background: #D8E5FF;
    padding: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.Heading {
    display: inline-block;
    width: 100%;
    text-align: center;
}
svg {
    display: block;
    cursor: pointer;
    float: right;
}

.SU_header {
font-family: 'Sarala', sans-serif;
color: #000;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0.5em;
margin-bottom: 20px;
padding: 0px;
}
.SU_headersubtext {
color: #000;
font-family: 'Sarala', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -20px;
margin-bottom: -2px;
}
.SU_headersubtext span {
color: #2358E1;
font-family: 'Sarala', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}
.SUF_content span {
color: #DA2828;
font-family: 'Sarala', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.SUF_content p {
color: #000;
font-family: 'Sarala', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 10px;
margin-bottom: 10px;


}

.SUF_content select {
    background: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.13);
    width: 70%;
    height: 53px;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
    border: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.5em;
    text-align: left;
    cursor: pointer;
    
    
}

.SUF_TextInputs input  {
    background: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.13);
    width: 100%;
    height: 53px;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 0px;
    border: none;
    cursor: pointer;
}
.SUF_TextInputs input[type=email]  {
    padding-left: 15px;
}
.SUF_TextInputs input[type=tel]  {
    padding-left: 15px;
}
.SUF_TextInputs input[type=password]  {
    padding-left: 15px;
}
.SUF_TextInputs input[type=text]  {
    padding-left: 15px;
}

.RoleDiv p {
    text-align: left;
    
}

.NameDiv p {
    text-align: left;
}
.PhoneNumberDiv p {
    text-align: left;
}
.EmailDiv p {
    text-align: left;
}
.PasswordDiv p {
    text-align: left;
}
.PasswordDiv p small {
color: #616161;
font-family: 'Sarala', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.SUF_Buttons {
    margin-top: 25px;
    text-align: center;
}

.SUF_Buttons button { 
    width: 50%;
    border-radius: 10px;
    border: none;
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    font-size: 18px;
    padding-top: 5px;
    cursor: pointer;
    
    
}
.SUF_Buttons .SignUpButton {
    background-color: #428EFF;
}
.SUF_Buttons .ResetButton {
    background-color: #DA2828;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}